// TEXT COLORS
$my_gray_color-73: #737373;
$my_dark_blue-42: #252b42;

// BUTTON COLORS
$my_orange_color_2B: #FFA62B;
$my_ocean_color_C1: #00A0C1;

// CARD COLORS
$my_ocean_color_C1: #00A0C1;

// BG COLORS
$bg_white_FA: #FAFAFA;

// NEWSLETTER BG
$bg_bluish_green_7A: #16697A;